body {
  background-color: #f0f2f5;
  background-image: linear-gradient(to bottom right, #e6e9f0 0%, #eef1f5 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.header {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.header h1{
  font-size: 50px ;
}
.blue-text {
  color: #007bff;
}

.black-text {
  color: black;
}
.password-generator {
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.password-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.password-display input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-display button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-settings {
  display: flex;
  flex-direction: column;
}

.password-settings label {
  margin-bottom: 5px;
}

.password-settings input[type="range"] {
  width: 100%;
}

.password-settings .checkboxes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.password-settings .checkboxes label {
  display: flex;
  align-items: center;
}

.password-settings .checkboxes input {
  margin-right: 5px;
}

.password-strength {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  text-align: center;
}

.password-strength h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.strength-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.strength-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.strength-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.faq {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
}

.faq h2 {
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
}
.faq p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.faq-question {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  margin-top: 10px;
}

.faq-icon {
  font-size: 24px;
  margin-left: 10px;
}
